//.container {
//    margin: auto;
//    text-align: center;
//    max-width: 600px;
//
//    &__image {
//        width: 100px;
//        height: auto;
//    }
//}
//
//.left {
//    text-align: left;
//}

// GENERAL CSS

.pos-rel{
    position: relative !important;
}

.pos-abs{
    position: absolute !important;
}

.disappear{
    opacity: 0;
}

.row{
    display: flex;
    flex-flow: row wrap;
}
.row-no{
    display: flex;
    flex-flow: row nowrap;
}

.column{
    display: flex;
    flex-flow: column wrap;
}
.column-no{
    display: flex;
    flex-flow: column nowrap;
}

.just-start{
    justify-content: flex-start;
}

.just-center{
    justify-content: center;
}

.just-end{
    justify-content: flex-end;
}

.just-around{
    justify-content: space-around;
}

.just-between{
    justify-content: space-between;
}

.align-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.flex-grow{
    flex-grow: 1;
}

.center-container{
    margin: 0 40px;
}

.left-text{
    text-align: left !important;
}

.margin-top-70{
    margin-top: 70px;
}

// CUSTOM CSS

body{
    font-family: 'Tahoma';
    margin: 0;
}

h2,h3{
    font-weight: 400;
}

button{
    padding: 10px;
    font-size: 20px;
    float:right;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    outline: 0;
    transition: all 0.2s;
}

button:hover{
    background-color: #3F3F3F;
}

button:active{
    background-color: #2A2A2A;
    color: white;
}

table{
    border-collapse: collapse;
    tbody{
        tr:hover{
            background-color: #DEDEDE;
        }
    }
}

// NAVIGATION ----------------
// ---------------------------

#navigation{
    padding: 0 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    a{
        text-decoration: none;
        color: black;
    }
    a:not(.main-logo){
        margin-left: 20px;
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
    }
    a:not(.main-logo):hover{
        border-bottom: 2px solid black;
    }
}

// LOGIN ----------------
//-----------------------

#login{
    width: 100%;
    height: 100vh;
    background-image: url("./assets/poultry-bg.jpg");
    background-size: cover;
    background-position: center;
    .login-container{
        width: 30%;
        height: 50%;
        background-color: #F0F0F0;
        padding: 20px;
        margin-right: 80px;
        border-radius: 10px;
        box-shadow: 0 0 30px black;
        text-align: center;
        h2{
            margin: 0;
        }
        form{
            flex-grow: 1;
            margin-top: 30px;
            text-align: right;
            div:nth-child(2){
                flex-grow: 1;
            }
            input{
                padding: 5px;
                font-size: 16px;
                border-radius: 3px;
                border: 1px solid darkgray;
                background-color: white;
                margin: 0 0 20px 10px;
            }
            .login-button{
                // width: 100%;
            }
        }
    }
}

// RECEIPT ----------------
// ------------------------

#receipt{
    margin-top: 70px;
    select,input{
        margin-left: 20px;
        font-size: 20px;
    }
    .customer-container{

    }
    .order-form{
        padding: 20px;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: #F5F5F5;
        select{
            background-color: #ffffff;
        }
        .form-item{
            margin-bottom: 20px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            select,input{
                flex-grow: 1;
                background-color: #ffffff;
            }
        }
        .add-button{
            margin-top: 50px;
        }
    }
    .order-display{
        margin-left: 50px;
        flex-grow: 1;
        table{
            width: 100%;
            th,td{
                text-align: left;
                font-size: 20px;
            }
            tbody{
                td{
                    padding-top: 10px;
                }
            }
        }
        .order-button{
            margin-top: 40px;
        }
    }
    .order-display.hide{
        opacity: 0;
        transition: opacity 1s;
    }
    .order-display.show{
        opacity: 1;
    }
}

// CUSTOMER ----------------
// -------------------------

#customer{
    margin-top: 70px;
    a{
        color: black;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 15px;
        padding: 5px 15px;
        margin-left: 20px;
        transition: all 0.3s;
    }
    a:hover{
        background-color: black;
        color: white;
    }
    a:active{
        background-color: #2A2A2A;
    }
    .customer-item:first-child{
        margin-top: 30px;
    }
    .customer-item{
        margin: 0 100px;
        padding: 10px 0;
        border-top: 1px solid #F0F0F0;
        p{
            margin: 0 30px 0 0;
        }
        b{
            flex-grow: 1;
        }
        input{
            display: none;
        }
    }
    .customer-item.new{
        justify-content: flex-start;
        b,a{
            display: none;
        }
        input{
            display: block;
        }
    }
    .customer-item:last-of-type{
        border-top: none;
    }
    .edit-controls{
        margin: 30px 100px 0;
        &.false{
            .add-button{
                display: block;
            }
            .submit-button,.cancel-button{
                display: none;
            }
        }
        &.true{
            .add-button{
                display: none;
            }
            .submit-button,.cancel-button{
                display: block;
            }
        }
    }
    // .edit-controls.false{
            
    // }
    // .edit-controls.true{
            
    // }
}

// HISTORY ----------------
// ------------------------

#history{
    margin-top: 70px;
    padding: 0 50px;
    table{
        margin: 20px 0 30px;
        width: 100%;
        td{
            text-align: left;
        }
        thead{
            tr:hover{
                background-color: white;
            }
            th{
                text-align: center;
            }
            th.column-subhead{
                text-align: left;
            }
        } 
        tbody{
            tr{
                border-top: 1px solid #F0F0F0;
            }
            tr:first-child{
                border-top: none;
            }
            td{
                padding: 20px 0;
                vertical-align: middle;
            }
        }
        button{
            font-size: 14px;
            padding: 5px;
            margin-left: 20px;
        }
    }
    a{
        cursor: pointer;
        color: black;
        text-decoration: none;
        background-color: white;
        border: 1px solid black;
        border-radius: 15px;
        padding: 5px 20px;
    }
    a:hover{
        background-color: black;
        color: white;
    }
}

// PRICE ----------------
// ----------------------

#price{
    margin-top: 70px;
    padding: 0 100px;
    table{
        margin: 20px 0 60px;
        width: 100%;
        tr{
            border-top: 1px solid #F0F0F0;
        }
        tr:first-child{
            border-top: none;
        }
        td{
            padding: 20px 0;
        }
        th,td{
            text-align: left;
        }
        button{
            font-size: 14px;
            padding: 5px;
            margin-left: 20px;
        }
    }
    a{
        cursor: pointer;
        color: black;
        text-decoration: none;
        background-color: white;
        border: 1px solid black;
        border-radius: 15px;
        padding: 5px 20px;
        transition: all 0.3s;
    }
    a:hover{
        background-color: black;
        color: white;
    }
    .value-display{
        b{
            display: block;
        }
        input{
            display: none;
        }
    }
    .value-edit{
        b{
            display: none;
        }
        input{
            display: inline-block;
        }
    }
    .edit-controls{
        text-align: right;
        &.value-display{
            b{
                display: block;
            }
            input{
                display: none;
            }
            .display-value{
                display: inline-block;
            }
            .update-value{
                display: none;
            }
        }
        &.value-edit{
            b{
                display: none;
            }
            input{
                display: inline-block;
            }
            .display-value{
                display: none;
            }
            .update-value{
                display: inline-block;
            }
        }
    }
    .add-button{
        display: block;
        &.true{
            display: none;
        }
    }
    .cancel-button,.submit-button{
        display: none;
        &.true{
            display: block;
        }
    }
}

#report{
    margin-top: 70px;
    .date-range{
        display: inline-block;
        input{
            margin-left: 20px;
            font-size: 16px;
        }
    }
    .date-range:nth-child(3){
        margin-left: 30px;
    }
    button{
        float: unset;
        padding: 3px 10px;
        border-radius: 10px;
        margin-left: 20px;
        &.hide{
            display: none;
        }
    }
    table{
        thead{
            th{
                text-align: left;
            }
        }
        margin-top: 30px;
        width: 100%;
    }
    .download-button{
        float: right;
    }
}

#item{
    margin-top: 70px;
    a{
        color: black;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 15px;
        padding: 5px 15px;
        margin-left: 20px;
        transition: all 0.3s;
    }
    a:hover{
        background-color: black;
        color: white;
    }
    a:active{
        background-color: #2A2A2A;
    }
    padding: 0 100px;
    .item-row{
        p{
            margin: 0 20px 0 0;
        }
        .item-name{
            // margin-right: 20px;
            flex-basis: 20%;
            text-align: center;
        }
        .item-unit{
            flex-grow: 1;
        }
        div:last-child{
            flex-grow: 1;
            float: left;
        }
    }
    .item-control{
        &.true{
            .add-item{
                display: none;
            }
            .submit-item{
                display: block;
            }
        }
        &.false{
            .add-item{
                display: block;
            }
            .submit-item{
                display: none;
            }    
        }
    }
}