//.container {
//    margin: auto;
//    text-align: center;
//    max-width: 600px;
//
//    &__image {
//        width: 100px;
//        height: auto;
//    }
//}
//
//.left {
//    text-align: left;
//}

// GENERAL CSS

.pos-rel{
    position: relative !important;
}

.pos-abs{
    position: absolute !important;
}

.disappear{
    opacity: 0;
}

.row{
    display: flex;
    flex-flow: row wrap;
}
.row-no{
    display: flex;
    flex-flow: row nowrap;
}

.column{
    display: flex;
    flex-flow: column wrap;
}

.just-start{
    justify-content: flex-start;
}

.just-center{
    justify-content: center;
}

.just-end{
    justify-content: flex-end;
}

.just-around{
    justify-content: space-around;
}

.just-between{
    justify-content: space-between;
}

.align-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.flex-grow{
    flex-grow: 1;
}

.center-container{
    margin: 0 40px;
}

// CUSTOM CSS

body{
    font-family: 'Tahoma'
}

#navigation{
    padding: 0 40px;
    a{
        text-decoration: none;
        color: black;
    }
    a:not(.main-logo){
        margin-left: 20px;
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
    }
    a:not(.main-logo):hover{
        border-bottom: 2px solid black;
    }
}

#receipt-container{
    .order-display.hide{
        opacity: 0;
        transition: opacity 1s;
    }
    .order-display.show{
        opacity: 1;
    }
}